<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
	<link href="../css/classScheduleCheck.css" rel="stylesheet" >
	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<!-- 본문 start -->

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card p-3 me-3 col-8">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">페이지명</h6>
					</div>
				</div>
				<section id="timetable">
					<div class="container">
						<ol class="timetable">
							<li id="Monday" class="day-title"><abbr title="Montag">월요일</abbr></li>


							<li class="danceclass green" id="test1"></li>

							<li class="danceclass green " id="test2"></li>

							<li class="danceclass green " id="test3"></li>

							<li class="danceclass green " id="test4"></li>

							<li class="danceclass green" id="test5"></li>

							<li class="danceclass green" id="test6"></li>

							<li class="danceclass green" id="test7"></li>

							<li class="danceclass green" id="test8"></li>


							<li id="Tuesday" class="day-title"><abbr title="Dienstag">Di</abbr>
							</li>

							<li class="danceclass pink " id="test9"></li>


							<li class="danceclass pink " id="test10"></li>

							<li class="danceclass pink  " id="test11"></li>

							<li class="danceclass pink " id="test12"></li>

							<li class="danceclass green " id="test13"></li>

							<li class="danceclass green " id="test14"></li>

							<li class="danceclass green " id="test15"></li>

							<li class="danceclass green " id="test16"></li>

							<li id="Wednesday" class="day-title"><abbr title="Mittwoch">Mi</abbr>
							</li>

							<li class="danceclass orange-medium " id="test17"></li>

							<li class="danceclass orange-dark " id="test18"></li>

							<li class="danceclass orange-medium " id="test19"></li>

							<li class="danceclass orange-medium " id="test20"></li>

							<li class="danceclass orange-medium " id="test21"></li>

							<li class="danceclass orange-medium " id="test22"></li>

							<li class="danceclass orange-medium " id="test23"></li>

							<li class="danceclass orange-medium " id="test24"></li>


							<li id="Thursday" class="day-title"><abbr title="Donnerstag">Do</abbr>
							</li>

							<li class="danceclass purple " id="test25"></li>

							<li class="danceclass purple " id="test26"></li>

							<li class="danceclass pink " id="test27"></li>

							<li class="danceclass pink " id="test28"></li>

							<li class="danceclass purple" id="test29"></li>

							<li class="danceclass purple " id="test30"></li>

							<li class="danceclass purple " id="test31"></li>

							<li class="danceclass purple " id="test32"></li>


							<li id="Friday" class="day-title"><abbr title="Freitag">Fr</abbr>
							</li>

							<li class="danceclass green-light " id="test33"></li>

							<li class="danceclass green-light " id="test34"></li>

							<li class="danceclass green " id="test35"></li>

							<li class="danceclass green " id="test36"></li>

							<li class="danceclass green " id="test37"></li>

							<li class="danceclass green-light " id="test38"></li>

							<li class="danceclass green-light " id="test39"></li>

							<li class="danceclass green-light " id="test40"></li>
						</ol>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		
		[# th:each="list,idx :${scheduleSelect} "]
			if([[${list.class_timetable_id}]] == 'T1000'){
				var test1 = `<span
					class="class-title">
				<span class="class-title-sm">[[${list.class_timetable_name}]]</span>
					</span> <span class="class-time">[[${list.class_timetable_start}]]</span>
					<span class="class-lvl">[[${list.course_title}]]수업</span>
					<span class="class-teacher">[[${list.user_name}]]</span>
					<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
					
				$("#test1").append(test1)
			}
		
		if([[${list.class_timetable_id}]] == 'T1001'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test2").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1002'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test3").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1003'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test4").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1004'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test5").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1005'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test6").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1006'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test7").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1007'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test8").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1008'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test9").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1009'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test10").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1010'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test11").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1011'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test12").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1012'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test13").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1013'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test14").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1014'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test15").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1015'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test16").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1016'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test17").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1017'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test18").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1018'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test19").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1019'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test20").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1020'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test21").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1021'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test22").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1022'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test23").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1023'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test24").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1024'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test25").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1025'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test26").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1026'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test27").append(test1)
		}
		
		if([[${list.class_timetable_id}]] == 'T1027'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test28").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1028'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test29").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1029'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test30").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1030'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test31").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1031'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test32").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1032'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test33").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1033'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test34").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1034'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test35").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1035'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test36").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1036'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test37").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1037'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test38").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1038'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test39").append(test1)
		}
		if([[${list.class_timetable_id}]] == 'T1039'){
			var test1 = `<span
				class="class-title"><span class="class-title-sm">[[${list.class_timetable_name}]]
				</span></span> <span class="class-time">[[${list.class_timetable_start}]]</span><span class="class-lvl">[[${list.course_title}]]수업</span>
				<span class="class-teacher">[[${list.user_name}]]</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>
				<span>[[${list.room_building}]] [[${list.room_no}]]호</span>`
			$("#test40").append(test1)
		}
		[/]
</script>

</th:block>
</html>